// this contains our most used css properties such as colors and fonts

$main-bg-color: #f4f4f4;
$accent-color: rgba(107, 161, 255, 0.742);
$boxes-color: white;
$shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$task-button-color: #5cb85c;
$task-button-color-hover: #4cae4c;
$created-task-button-color: #d9534f;
$created-task-button-color-hover: #c9302c;
$main-font: Arial, sans-serif;