nav {
  width: 100%;
  height: 4em;
  background-color: rgba(107, 161, 255, 0.742);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* Make sure it stays at the top */
  top: 0;
  left: 0;
  z-index: 1000;
  /* Ensure it's above other content */
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  padding: 0.5em;
  background-color: rgba(107, 161, 255, 0.742);
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  /* Or use 'fixed' if needed */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Center container */
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container li {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.container li button {
  background-color: #d9534f;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.container li button:hover {
  background-color: #4cae4c;
}

h1 {
  text-align: center;
  color: black;
}

input[type=text] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5c7cb8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}


/* Common container styles for Signup and Login forms */
.form-container {
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
  /* Align text to the left */
  color: black;
  /* Optional: Set text color if needed */
}

.form-group {
  margin-bottom: 20px;
}

input[type=email],
input[type=password] {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #5c87b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.form-button:hover {
  background-color: #4cae4c;
}

/* Error message style for Login */
.error-message {
  color: #d9534f;
  margin-bottom: 20px;
}